/* PRINTING */

#map {
    width: 18cm;
    height: 10cm;
    z-index: 0;
}

/* routing headlines */

.leaflet-routing-alt  h2
{
  font-family: 'Verdana';
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 15px;
  color: rgba(37,72,127, 0.8);
}

.leaflet-routing-alt h3
{
  font-weight: normal;
  font-size: 12px;
  margin-top: 0px;
  color: rgba(37,72,127, 0.8);
}

.leaflet-bar {
  box-shadow: none;
}

.leaflet-routing-container {
    page-break-before: always;
    width: 18cm;
    height: auto !important;
    padding-left: 10px;
    box-shadow: none;
}

.leaflet-routing-alt {
  max-height: none !important;
  overflow-y: auto !important;
  font-family: 'Verdana';
}

.leaflet-routing-alt-minimized {
  display: none;
}

.leaflet-routing-alt-minimized .osrm-directions-summary
{
  color: #022bb1;
  padding-top: 10px;
}

.leaflet-routing-alt td {
  color: rgba(37,72,127, 0.8);
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-weight: 200;
  font-size: 16px;
}

.leaflet-routing-alt table { 
  margin-top: 30px;
  margin-bottom: 30px;
}


tbody tr td:last-child {
  font-size: 12px;
}

.leaflet-routing-alt-minimized table td,
.leaflet-routing-alt-minimized table { 
  color: #022bb1;
  margin-top: 20px;
  padding: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 200;
}

.leaflet-routing-alt table tr:nth-child(even) {
  background-color: rgba(37,72,127, 0.15);
}


/* routing icons */

.leaflet-routing-alt-minimized .leaflet-routing-icon,
.leaflet-routing-icon {
    background-image: url('../images/osrm.directions.icons.color.svg');
    -webkit-background-size: 300px 20px;
    background-size: 300px 20px;
    background-repeat: no-repeat;
    margin: 0;
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 20px;
}

  .leaflet-routing-icon-continue         { background-position: 7px 0px; }
  .leaflet-routing-icon-sharp-right      { background-position: -19px -2px; }
  .leaflet-routing-icon-turn-right       { background-position: -46px -2px; }
  .leaflet-routing-icon-bear-right       { background-position: -71px 0px; }
  .leaflet-routing-icon-u-turn           { background-position: -92px 0px; }
  .leaflet-routing-icon-sharp-left       { background-position: -122px 0px; }
  .leaflet-routing-icon-turn-left        { background-position: -143px -2px; }
  .leaflet-routing-icon-bear-left        { background-position: -170px 0px; }
  .leaflet-routing-icon-depart           { background-position: -194px 2px; }
  .leaflet-routing-icon-enter-roundabout { background-position: -219px -1px; }
  .leaflet-routing-icon-arrive           { background-position: -245px 0; }
  .leaflet-routing-icon-via              { background-position: -270px 0px; }

/*  FORM Labels */

.osrm-form-label {
  cursor: default;
}

.osrm-directions-origin .osrm-form-label {
    background-color: #ee8a65;
}
.osrm-directions-via {
    background-color: white;
    position: relative;
}
.osrm-directions-via .osrm-form-label {
    background-color: #CCC;
}

.osrm-directions-via input {
    border-top: 1px solid rgba(0,0,0,.1);
}

