#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*
 * Somehow we need this for chrome. Works fine in FF.
 */
.leaflet-map-pane
{
    z-index: -1;
}

.leaflet-routing-geocoders
{
    margin: 0 0 0 0;
    border-bottom: 0px solid #000;
}

.leaflet-control-scale
{
  position: absolute;
  left: 180px;
  bottom: 5px;
}


button.mapbox-directions-button-add
{
    margin: 0 0 0 0;
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border: 0px solid rgba(0,0,0,0.5);
    border-radius: 0px;
}

.leaflet-routing-container
{
    position: fixed;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
    padding-right: 0px;
}

.leaflet-routing-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-left: 0;
    background: none;
}

.leaflet-routing-alt
{
    height: 92%;
    max-height: 100%;
    border: 0px solid;
}

.leaflet-routing-alt-minimized
{
    height: 7%;
}

.leaflet-routing-container.dark
{
   z-index: 9;
   background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
   top: 0px;
   right: 0px;
   bottom: 0px;
   overflow: auto;
   margin: 0px !important;
}

.leaflet-control-layers
{
  background-color: #404040;
  color: #fff;
}

.leaflet-control-layers-toggle
{
  margin: 3px;
  width: 20px;
  height: 20px;
  /* fill-dark */
  background-size: cover;
}

.leaflet-routing-container-hide.dark
{
   margin: -300px !important;
}

.leaflet-osrm-tools-container
{
   cursor: pointer;
   width: 161px;
   height: 26px;
}

.mapbox-directions-summary
{
  border-top: solid 1px;
  padding-left: 20px;
}

.leaflet-routing-alt .mapbox-directions-summary
{
  color: #ee8a65;
  border-color: #ee8a65;
}

.mapbox-directions-summary h2
{
  font-size: 22px;
  font-weight: normal;
}
.mapbox-directions-summary h3
{
  font-weight: normal;
}

.leaflet-routing-alt-minimized .mapbox-directions-summary
{
  color: #fff;
  border-color: #fff;
}


.mapbox-directions-inputs
{
   position: fixed;
   z-index:10;
   left: 10px;
   top: 10px;
   width: 33%;
   max-width: 500px;
   min-width: 200px;
}
.mapbox-form-label {
  cursor: default;
}

.mapbox-directions-origin .mapbox-form-label {
    background-color: #ee8a65;
}
.mapbox-directions-via {
    background-color: white;
    position: relative;
}
.mapbox-directions-via .mapbox-form-label {
    background-color: #CCC;
}

.mapbox-directions-via input {
    border-top: 1px solid rgba(0,0,0,.1);
}

.mapbox-directions-icon {
    -webkit-background-size: 420px 20px;
    background-size: 420px 20px;
}

.mapbox-directions-inputs input {
    padding: 10px 28px 10px 50px;
}

.mapbox-add-icon  { background-position: -280px 0; }
.mapbox-via-icon  { background-position: -300px 0; }
.mapbox-link-icon  { background-position: -320px 0; }
.mapbox-editor-icon  { background-position: -340px 0; }
.mapbox-josm-icon  { background-position: -360px 0; }
.mapbox-close-light-icon  { background-position: -380px 0; }
.mapbox-flag-icon  { background-position: -400px 0; }

.leaflet-osrm-tools-link
{
  position: absolute;
  top: 3px;
  left: 3px;
}
.leaflet-osrm-tools-link:hover
{
   background-color: rgba(255, 255, 255, 0.2);
}
.leaflet-osrm-tools-editor
{
  position: absolute;
  top: 3px;
  left: 28px;
}
.leaflet-osrm-tools-editor:hover
{
   background-color: rgba(255, 255, 255, 0.2);
}
.leaflet-osrm-tools-josm
{
  position: absolute;
  top: 3px;
  left: 53px;
}
.leaflet-osrm-tools-josm:hover
{
   background-color: rgba(255, 255, 255, 0.2);
}

.leaflet-osrm-tools-localization-popup
{
  width: 90%;
}

.leaflet-osrm-tools-language-list
{
  float: left;
  width: 50%;
}
.leaflet-osrm-tools-units-list
{
  float: right;
  width: 50%;
}

.leaflet-osrm-tools-localization-popup a
{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: inherit;
}

.leaflet-osrm-tools-localization-popup a:hover
{
    width: 100%;
    height: auto;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.leaflet-osrm-tools-localization
{
  position: absolute;
  top: 3px;
  left: 78px;
}


.leaflet-osrm-tools-localization:hover
{
   background-color: rgba(255, 255, 255, 0.2);
}

.leaflet-osrm-tools-print
{
  position: absolute;
  top: 3px;
  left: 103px;
}
.leaflet-osrm-tools-print:hover
{
   background-color: rgba(255, 255, 255, 0.2);
}

.leaflet-osrm-tools-gpx
{
  position: absolute;
  top: 3px;
  left: 128px;
  text-align: center;
}
.leaflet-osrm-tools-gpx a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 20px;
}
.leaflet-osrm-tools-gpx a:hover
{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 20px;
}

.leaflet-osrm-tools-popup
{
   border: 1px solid rgba(0,0,0,0.1);
   position: absolute;
   min-width: 440px;
   min-height: 60px;
   padding: 10px;
}

.leaflet-osrm-tools-popup-close
{
  position: absolute;
  top: 20px;
  right: 10px;
}

.leaflet-osrm-tools-popup-close:hover {
    opacity: .3;
}

.leaflet-osrm-tools-popup input
{
  position: absolute;
  min-width: 300px;
  min-height: 40px;
  border: 0px solid;
  margin-top: 0px;
  margin-left: 85px;
  padding: 5px;
}

.leaflet-osrm-tools-popup label
{
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
}

.leaflet-osrm-tools-popup-hide
{
  display: none;
}

.leaflet-osrm-geocoder-label
{
  width: 20px;
  height: 20px;
  font-family: Arial;
  font-variant: bold;
  font-size: 20px;
  color: #fff;
}

.leaflet-osrm-waypoint-label
{
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.leaflet-osrm-waypoint-popup .leaflet-popup-content-wrapper
{
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.leaflet-osrm-waypoint-popup .leaflet-popup-tip-container .leaflet-popup-tip
{
  background-color: rgba(0, 0, 0, 0.5);
}
.leaflet-osrm-waypoint-popup .leaflet-popup-content { margin: 3px; }

.leaflet-osrm-waypoint-popup .mapbox-close-light-icon:hover { opacity: 0.5; }
.leaflet-osrm-waypoint-popup .mapbox-u-turn-icon:hover { opacity: 0.5; }
.leaflet-osrm-waypoint-popup .mapbox-u-turn-icon.leaflet-osrm-popup-inactive { opacity: 0.5; }
.leaflet-osrm-waypoint-popup .mapbox-u-turn-icon:hover.leaflet-osrm-popup-inactive { opacity: 1.0; }

